:root{
  --dark-blue:   color: #363f5f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}
.container {
  width: min(90vw, 800px); /*Pegar o menor valor entre os dois*/
  margin: auto;
}
header {
  background-color: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
}
#logo {
  color: #fff;
  font-weight: 100;
}
#balance {
  margin-top: -8rem; /*subiu*/
}
h2 {
  color: var(--dark-blue);
  margin-bottom: 0.8rem;
  margin-top: 3.2rem; /*Da espaço tanto pro balanço quanto transações*/
  font-weight: normal;
}
#balance h2 {
  color: white;
  margin-top: 0;
}
.card {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem; /*arendondamento*/
  margin-bottom: 2rem;
  color: var(--dark-blue);
}
.card h3 {
font-weight: normal;
font-size: 1rem;
}
.card p {
font-size: 2rem;
line-height: 3rem;/*Separação de linha*/
margin-top: 1rem;
}
.card.total { /*Selecionadno 2 classes*/
background: #49aa26;
color: white;
}
#data-table {
  width: 100%;/*Pegando espaço inteiro table*/
    border-spacing: 0 0.5rem; /*Tira espaçamento de cima/baixo*/
    color: #969cb3;

}
table th {/*Header table*/
  background: white;
  font-weight: normal;
  color: #969cb3;
  padding: 1rem 2rem;
  text-align: left;
}
table thead tr th:first-child, table tbody tr td:first-child{/*Só ta pegando o th e td*/
  border-radius: 0.25rem 0 0 0.25rem;
}
table tbody tr {
  opacity: 0.7;
}
table tr:hover{/*Aqui faz mudar de cor*/
  opacity: 1
}
table td {
  background: white;
  padding: 1rem 2rem;
}
td.description {
  color: var(dark-blue);
}
td.income {
  color: #12a454;
}
td.expense {
  color: #e92929;
}
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}
